a,a:visited{color:#3865A0}
h1,h2,h3,h4{color:#000}
header a{color:#fff !important}
html,body{background-color:#F1F1EC}
body{color:#fff}
header{background-color:#3865A0;color:#fff}
header a{color:#fff !important}
#content{background-color:#f1f1ec;color:#000}
footer{background-color:#e2e2d9}
a.button,nav a,a#button_menu,.buttons a,ul.account-select li a{color:#fff}
ul.account-select li a,ul.themes li a{background-color:#ccccbc;color:#000;border-color:#bdbda9}
ul.account-select li a:hover,ul.account-select li a:focus,ul.account-select li a:active,ul.themes li a:hover,ul.themes li a:focus,ul.themes li a:active{background-color:#bdbda9}
ul.task-multiple li{border-top:1px solid #e2e2d9}
ul.task li span.task-name{color:#000}
ul.project-single ul.task li span.task-name{color:#666}
ul.task li span.task-due{color:#999}
ul.task li span.task-location{color:#999}
ul.task li.overdue .task-due{color:#f5130d}
ul.task li.today .task-due{color:#fe5d20}
ul.task li.tomorrow .task-due{color:#aa9504}
ul.task li.thisweek .task-due{color:#5e5e5e}
ul.comments > li{background-color:#e2e2d9}
ul.comments li .comment-author{color:#000}
ul.comments li .comment-content,ul.comments li .comment-content div,ul.comments li .comment-content p,ul.comments li .comment-content li{color:#333}
form p.buttons input,a.button{color:#fff;background-color:#3865A0;border-color:#26456e}
form p.buttons input:hover,form p.buttons input:active,form p.buttons input:focus,a.button:focus,a.button:hover{text-decoration:none;background-color:#2f5587}
form p.buttons a.remove{color:#3865A0}
form .text{color:#333;border:1px solid #999}
.stats-value{color:#3865A0}
footer a,footer a:visited{color:#000}