@-webkit-viewport{width:device-width;height:device-height}
@-moz-viewport{width:device-width;height:device-height}
@-ms-viewport{width:device-width;height:device-height}
@-o-viewport{width:device-width;height:device-height}
@viewport{width:device-width;height:device-height}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-size:13px;line-height:1.231;-webkit-overflow-scrolling:touch}
body,button,input,select,textarea{font-family:sans-serif;color:#222}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ins{background:#ff9;color:#000;text-decoration:none}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:"";content:none}
small{font-size:85%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
ul,ol{margin:1em 0;padding:0 0 0 40px}
dd{margin:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:0;margin:0;padding:0}
label{cursor:pointer}
legend{border:0;*margin-left:-7px;padding:0}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{-webkit-appearance:none;border-radius:0;line-height:normal;*overflow:visible}
table button,table input{*overflow:auto}
button,input[type="button"],input[type="reset"],input[type="submit"],[role="button"]{cursor:pointer}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
textarea[contenteditable]{-webkit-appearance:none}
*{margin:0}
html,body{height:100%;padding:0;margin:0;color:#000;background-color:#fff;overflow-x:hidden}
#container{height:auto;margin:0 auto;min-width:300px}
header{width:92%;padding:2% 4%;float:left;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.notification{padding:2% 3%;float:left;width:94%}
.notification.error{background-color:#80001d;color:#fff}
.notification.error a,.notification.error a:hover,.notification.error a:focus,.notification.error a:visited{color:#fff}
.notification.success{background-color:#109f08;color:#fff}
.notification p{margin:0}
.page_pro .notification{margin-bottom:20px}
#content{width:92%;padding:18px 4% 0;height:100%;float:left}
footer{width:52%;padding:0 0 40px;margin:0 auto;background-color:transparent}
footer,#down{height:50px;clear:both}
body,p,li,nav a,textarea,select{font:400 18px/22px "Source Sans Pro","Segoe UI",Arial,sans-serif}
p{margin:0 0 10px}
a,a:visited{outline:none;text-decoration:underline;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}
a:hover,a:active,a:focus{outline:none;text-decoration:underline}
ul,ol{margin:0 0 10px;padding:0}
ul li,ol li{margin:0;padding:0;list-style:none outside none}
#content ol li{list-style:decimal outside none}
h1,h2,h3,h4{font-family:"Source Sans Pro","Segoe UI",Arial,sans-serif;font-weight:700;margin:30px 0 20px;padding:0;clear:both}
#content h2:first-child,.page_addtohome #content h3:first-child{margin-top:0}
h1{font-size:30px;line-height:35px}
h2{font-size:22px;line-height:30px}
h3{font-size:18px;line-height:25px}
h4{font-size:16px;line-height:20px}
header h1{margin:8px 0 12px}
header a{color:#fff}
header a:hover{text-decoration:none}
.nospacing{margin:0;padding:0;clear:both}
.icon, .fa{margin-right:6px;border:0}
.hidden{display:none !important}
.left{float:left !important;margin-right:4px}
.right{float:right !important;margin-left:4px}
.noselect,ul.task-multiple li{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
body.loading #content{background-color:transparent;text-indent:-999em;height:100px}
#loading-icon{display:none;font-size:50px;text-align:center;margin:50px 0 0;color:#333}
body.loading header,body.loading #content div,body.loading #content ul,body.loading #content form,body.loading footer{display:none}
p.message.empty{margin:20px 0}
a.button,nav a,a#button_menu,.buttons a{font-size:16px;text-decoration:none;padding:12px 20px 14px;position:relative;display:inline-block;border-radius:2px}
a.button:hover,a.button:active,a.button:focus,nav a:hover,nav a:active,nav a:focus,.buttons a:hover,.buttons a:active,.buttons a:focus{text-decoration:none}
a.button.right{margin-right:0;margin-left:10px}
a.button.login{margin:10px 0 15px;font-size:17px}
div.share{margin:15px 0 0;clear:both}
.page_home div.share{font-size:15px}
.page_extras div.share{margin:0;clear:none;display:inline}
nav{padding:0;margin:0;float:left;width:100%}
nav .icon, nav .fa{margin:0;text-align:center;width:auto}
nav ul{width:100%;margin:0 0 0 5px;padding:0;clear:both;float:left}
nav ul li{list-style:none outside none;margin:0 30px 0 0;padding:0;clear:none;float:left}
nav ul li:last-child{margin-right:0}
nav ul li a{text-align:center;padding:12px 7px 13px;float:left}
nav ul li:first-child a{padding-left:0}
.page_home header nav li#action-home,.page_projects header nav li#action-projects,.page_newtask header nav li#action-newtask,.page_home header nav li#action-home,.page_progress header nav li#action-progress,.page_account header nav li#action-account,.page_more header nav li#action-more{display:none}
.page_home.user_yes #content,.page_tasks.user_yes #content,.page_projects #content,.page_progress #content{padding-top:0}
.page_account header nav{display:none}
.page_account header h1{display:block}
.page_account #content ul{margin:20px 0;padding:0}
.page_account #content li{margin:20px 0 0;padding:0;width:100%;list-style:none outside none}
.page_account #content li:first-child{margin-top:0}
.page_account #content li a{width:92%;padding:5% 4%;border-radius:4px;display:inline-block}
.page_account #content li a,.page_account #content li a:hover,.page_account #content li a:focus,.page_account li a:active{text-decoration:none}
.page_account #content li.selected a{background-color:#e2e2d9}
.task > li,.comments > li,.project > li{float:left;clear:both;list-style:none outside none;width:100%;margin:0 0 12px;padding:0 0 14px}
.task-single > li{margin:0 0 10px}
ul.task-multiple li:first-child,ul.project > li:first-child{border:none}
ul.task li,ul.project > li{margin:0;padding:0}
ul.task li a,ul.project > li a{margin:0;float:left;width:100%;padding:6% 0;text-decoration:none}
ul.task li span{margin:0;clear:both;display:block}
ul.project li span{margin:0 0 10px;float:left;clear:left;display:block}
ul.task li span.task-name,ul.project-multiple li span.project-name{font:400 20px/26px "Source Sans Pro","Segoe WP",Arial,sans-serif;margin:0 0 3px;color:#000}
ul.task-multiple li a:hover .task-name,ul.task-multiple li a:active .task-name,ul.project-multiple li a:active span.project-name,ul.project-multiple li a:hover span.project-name{text-decoration:underline}
ul.task-completed li a:hover .task-name,ul.task-completed li a:active .task-name{text-decoration:none}
ul.task li span.task-due{clear:none;float:left;margin-top:5px;font-size:16px;text-transform:uppercase}
ul.task li span.task-comments{display:none}
ul.task.progress li span.update-details{margin-bottom:10px}
ul.task li span.task-location,ul.task li span.task-assigned-to,ul.project li span.project-description,ul.project li .list-description{clear:both;color:#999;font-size:14px;line-height:18px}
ul.task li span.task-location,ul.task li span.task-assigned-to{text-transform:uppercase}
ul.task li.completed .task-name,ul.task-completed li .task-name{text-decoration:line-through}
ul.task li.completed .task-due{display:none}
ul.task.task-single > li span{margin:0 0 8px}
ul.task.task-single > li span.task-name{font-size:30px;line-height:35px;margin:0}
ul.task.task-single li span.task-location{clear:both;float:none}
ul.project li span.project-name{margin:0}
ul.task.task-single > li span.task-name,ul.project-single li span.project-name{font:400 25px/30px "Source Sans Pro","Segoe WP",Arial,sans-serif}
ul.project-multiple li a{padding:20px 0}
ul.project-single li span.list-name{font:400 22px/25px "Source Sans Pro","Segoe WP",Arial,sans-serif;margin:0 0 2px;max-width:85%;word-wrap:break-word}
ul.project-single li span.task-name{font-size:16px;line-height:20px;margin:0}
ul.project-single li span.project-description{margin:8px 0 30px;max-width:90%}
ul.project-single ul{margin:20px 0 0 0;padding:0}
ul.project-single ul li{margin:0;padding:0}
ul.project-single ul li a{padding:0}
ul.project-single ul li .list-description{margin:0 0 15px}
ul.project-single .action{float:right;width:auto;font-size:25px;line-height:25px;padding:0;margin:0}
ul.project-single .action .icon-text-label{display:none}
ul.project-single .action .icon, ul.project-single .action .fa{margin:0;padding:0}
ul.project-single ul.list li{margin:0 0 20px;border:0 none;float:left;clear:both;width:100%}
ul.project-single ul.list li ul{margin:0 0 20px}
ul.project-single ul.list li ul li{margin:0 0 25px;padding:0}
ul.project-single ul.list li ul.task li{width:auto}
ul.project-single ul.list li.completed .list-name{text-decoration:line-through;width:85%}
ul.comments{margin:20px 0 0;float:left;width:100%}
ul.comments > li{word-wrap:break-word;border:none;width:92%;padding:4%;border-radius:2px}
ul.comments li .comment-author{margin:20px 0 -5px 0;float:right;font-size:13px;line-height:50px}
ul.comments li .comment-avatar{margin-top:20px;float:left}
ul.comments li .comment-avatar img{height:50px;width:50px}
ul.comments li .comment-content{margin:0;padding:0;width:100%}
ul.comments li .comment-content li,#content ol li{margin:5px 0 5px 30px}
ul.comments li .comment-content ul li{list-style:disc outside none}
ul.comments li .comment-content ol li{list-style:decimal outside none}
form{clear:both;float:left;width:100%;margin:0 0 20px}
form p{clear:both;float:left;width:100%;margin:0 0 25px}
form p.delay span{float:left;clear:both;margin:4px 4px 10px 0}
form p.delay a{float:left;padding:4px 8px;font-size:16px}
form p.date select{float:left;margin-right:11px}
form p.date select#date_month{width:91px}
form p.date select#date_year{margin-right:0}
form p.buttons input{padding:0 20px;margin-right:10px}
form p.buttons input,a.button{font:700 20px/50px "Source Sans Pro","Segoe WP",Arial,sans-serif;height:50px;border-radius:4px;border:0 none;padding:0 20px}
form p.buttons input:hover,form p.buttons input:active,form p.buttons input:focus{text-decoration:none}
form p.buttons a.remove,form p.buttons a.cancel-edit{float:right;background:none;border:0 none}
form.subscribe{margin:10px 0}
p.buttons .unsubscribe{background-color:#109f08}
form p.task-name{margin-top:1%}
form .text{width:100%;padding:10px;margin:0;box-sizing:border-box}
form textarea{height:80px;min-height:80px}
form select{width:90px;display:block}
form select#date_day{width:90px;clear:left}
form select#people_list,form select#task_list{width:296px}
form#form_comment{margin:15px 0 0}
.page_newtask #form_task{margin:0}
#form_task p.date #due_mode_select,#form_task_edit p.date #due_mode_select{clear:right;float:left;margin:5px 7px 0 0}
#form_task p.date label,#form_task_edit p.date label{float:left;margin:0 15px 25px 0}
#form_task p.date.disabled label,#form_task_edit p.date.disabled label{margin:0}
#form_task p.date.disabled select,#form_task_edit p.date.disabled select{display:none}
.page_image #container{width:100%}
.page_image #content{width:100%;padding:20px 0;background-color:transparent;text-align:center}
.page_image h1{padding:0;margin:0 0 30px}
.page_image .buttons{margin:30px 0 0}
.page_image .buttons a{clear:both;margin:0 0 20px 20px}
.page_image .buttons a:first-child{margin-left:0}
.page_image header,.page_image footer{display:none}
.page_login header,.page_login #actions,.page_login footer{display:none}
.page_login #content{padding:0;width:100%;background-color:transparent}
.page_login #login{border:none;width:100%}
.user-status span{margin-right:10px}
.user-status span.status{margin-right:4px}
.user-status a.logout{float:right}
.tools li{margin:0 0 13px}
footer,footer nav{width:100%}
footer nav ul{width:120px;margin:0 auto;float:none}
footer nav li{margin:0 0 0 20px;width:auto}
footer nav li:first-child{margin-left:0}
footer p,footer li,footer a{font-size:15px;margin:0}
footer nav li a,footer nav li a:visited{text-decoration:none;text-align:center;color:#777;float:left;display:block;margin:0;padding:0;font-size:25px;width:50px;height:50px;line-height:44px}
footer a:hover,footer a:active,footer a:focus{text-decoration:none;color:#999}
footer a span{display:none}
a#button_all{margin-top:25px}
body.page_image{background-color:#1f1f1f}
body.page_image h1{color:#fff}
body.page_image a{text-decoration:underline}
ul.screenshots{margin:20px 0 5px;padding:0;float:left;clear:both;width:100%}
ul.screenshots li{list-style:none outside none;float:left;margin:0 5px 5px 0;padding:0;width:100px;height:100px;overflow:hidden;border:2px solid #fff;box-shadow:0 0 5px #999;-moz-box-shadow:0 0 5px #999;-webkit-box-shadow:0 0 5px #999;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')"}
ul.screenshots li:hover,ul.screenshots li:focus{border-color:#ccc}
ul.screenshots li img{margin:0 0 0 -5px}
ul.screenshots li a{border:none}
#container header{padding:0;width:100%}
#container header nav{display:block}
#container header nav ul,#container header nav li,#container header nav a{width:100%}
#container header nav a,#container header nav.empty h1,#container header nav .user{width:92%;padding:2.5% 4%;text-align:left;font:400 25px/30px "Source Sans Pro","Segoe WP",Arial,sans-serif}
#container header nav.empty h1{height:50px;line-height:50px}
#container header nav.empty .icon, #container header nav.empty .fa{line-height:50px;margin-right:10px}
#container header nav a{color:#eee}
#container header nav h1{color:#fff;margin:0;line-height:30px}
#container header nav h1 a{color:#fff;margin:0;padding:0 4% 5px;line-height:60px}
#container header nav a .icon, #container header nav a .fa{float:left;display:block;width:21px;height:30px;line-height:30px;margin-right:15px;text-align:center}
#container header nav h1 a .icon, #container header nav h1 a .icon{height:60px;line-height:60px}
#container header nav ul{display:block;float:left;margin:-2% 0 2%;padding:0}
#container header nav.closed ul{display:none}
#container header nav ul li{float:none;clear:both}
#container header nav a:active,#container header nav a:focus,#container header nav a:hover{color:#fff}
#container header nav a:active,#container header nav a:focus,#container header nav a:hover{color:#fff}
#container header span{display:block;float:left;max-width:80%}
#container header nav .user img{margin-right:10px}
#container header nav .user a{font-size:14px;line-height:53px;display:inline-block;text-transform:uppercase;margin-right:10px;padding:0 20px;text-align:center;float:right;width:auto;background-color:rgba(0, 0, 0, 0.3);color:#333;border:1px solid rgba(0, 0, 0, 0.1);border-radius:4px;color:#fff}
#container header nav .user a:active,#container header nav .user a:hover{background-color:rgba(0, 0, 0, 0.2);color:#fff}
#container header nav #button_logout{margin-right:0}
.page_task #container nav.task_actions{display:block}
.page_task #container nav.task_actions li{clear:both;float:none}
.page_task #container nav.task_actions a,form p.buttons a.cancel-edit{font-size:20px;color:#999;padding:15px 0;margin:0}
.page_task #container nav.task_actions a{width:60%}
.page_task #container nav.task_actions a:active,.page_task #container nav.task_actions a:focus,.page_task #container nav.task_actions a:hover,form p.buttons a.cancel-edit:active,form p.buttons a.cancel-edit:focus,form p.buttons a.cancel-edit:hover{color:#777}
.page_task #container nav.task_actions a .icon,form p.buttons a.cancel-edit .icon,.page_task #container nav.task_actions a .fa,form p.buttons a.cancel-edit .fa{float:left;display:block;font-size:25px;line-height:25px;width:25px;margin-right:10px}
.page_task #container nav.task_actions a .icon-text-label,form p.buttons a.cancel-edit .icon-text-label{float:left;display:block;font:20px/24px "Source Sans Pro","Segoe WP",Arial,sans-serif}
body.page_addtohome_wp{margin:0;position:relative;background-color:#12af09;color:#fff;height:100%;width:100%;padding:0}
body.page_addtohome_wp #icon{font-size:160px;line-height:320px;text-align:center}
body.page_addtohome_wp #instructions{margin-top:60px;text-align:center;position:relative;color:#eee}
body.page_addtohome_wp #instructions strong{color:#fff}

/* Pro features list */

ul.features{margin:30px 0 0;padding:0;list-style:none outside none}
ul.features li{margin-top:10px;margin-left:75px;padding:0;line-height:25px}
ul.features li:first-child{margin-top:0}
ul.features li::before{text-transform:uppercase;border:1px solid transparent;border-radius:4px;color:#333;line-height:28px;font-size:12px;width:65px;display:inline-block;text-align:center;margin-left:-75px;margin-right:10px}
ul.features li.planned{color:#df8e15}
ul.features li.released{color:#109f08}
ul.features li.planned::before{content:'planned';border-color:#df8e15;color:#df8e15}
ul.features li.released::before{content:'released';border-color:#109f08;color:#109f08}

@media only screen and (max-width:500px){
	ul.screenshots li{width:80px;height:80px}
	#container header nav .user strong{display:none}
}

@media only screen and (min-width:500px) and (max-width:1366px){
	header nav ul li a{font-size:40px}
	#content{padding:3% 4% 0;width:92%}
	nav ul{margin:0}
	ul.task li a,ul.project > li a{padding:3% 0}
	ul.comments > li{width:96%;padding:2%}
	.page_account #content li a{padding:3% 4%;width:92%}
	#form_task p.task_list,#form_task_edit p.task_list,#form_task p.due_toggle,#form_task p.date,#form_task_edit p.task-location,#form_task_edit p.date{clear:none;width:auto}
	#form_task p.task_list,#form_task_edit p.task_list,#form_task_edit p.task-location,form p.people_list{width:40%}
	form select#people_list,form select#task_list{width:100%}
	#form_task p.date,#form_task_edit p.date{float:right}
	#form_task p.date #due_mode_select,#form_task_edit p.date #due_mode_select{float:left;margin:5px 4px 0 0}
	#form_task p.date label,#form_task_edit p.date label{float:left;margin:0 15px 0 0}
	form select#date_day{clear:none}
	.page_task #container nav.task_actions li{clear:none;float:left;width:auto;padding:10px 0;margin:0 20px 0 0}
	.page_task #container nav.task_actions li a{width:auto}
	#container header nav ul{margin:-1% 0 2%}
	#container header h1 a,#container header nav a,#container header nav.empty h1{width:92%;padding:1% 4%}
	#container header nav .user a{padding:0 20px}
	#container header nav.empty h1{padding-bottom:2%}
}

@media only screen and (min-width:1367px){
	#container,header,#content{max-width:750px}
	#content{padding:3% 3% 0;width:94%}
	nav ul{margin:0}
	ul.task li .task-details p{width:520px}
	ul.task li a,ul.project > li a{padding:3% 0}
	ul.comments > li{width:96%;padding:2%}
	.page_account #content li a{padding:3%;width:94%}
	#form_task p.task_list,#form_task_edit p.task_list,#form_task p.due_toggle,#form_task p.date,#form_task_edit p.task-location,#form_task_edit p.date{clear:none;width:auto}
	#form_task p.task_list,#form_task_edit p.task_list,#form_task_edit p.task-location{width:40%}
	form select#people_list,form select#task_list{width:100%}
	#form_task p.date,#form_task_edit p.date{float:right}
	#form_task p.date #due_mode_select,#form_task_edit p.date #due_mode_select{float:left;margin:5px 4px 0 0}
	#form_task p.date label,#form_task_edit p.date label{float:left;margin:0 15px 0 0}
	form select#date_day{clear:none}
	.page_task #container nav.task_actions li{clear:none;float:left;width:auto;padding:10px 0;margin:0 20px 0 0}
	.page_task #container nav.task_actions li a{width:auto}
	#container header nav ul{margin-top:-1%}
}
