a,a:visited{color:#a20025}
h1,h2,h3,h4{color:#fff}
html,body{background-color:#111 !important;color:#fff}
header{background-color:#a20025;color:#fff}
header a{color:#fff !important}
#content{background-color:#1f1f1f;color:#fff}
#loading-icon{color:#fff}
footer{background-color:#333}
a.button,nav a,a#button_menu,.buttons a,ul.account-select li a{color:#fff}
ul.account-select li a,ul.themes li a{background-color:#333;color:#fff;border-color:#333}
ul.account-select li a:hover,ul.account-select li a:focus,ul.account-select li a:active,ul.themes li a:hover,ul.themes li a:focus,ul.themes li a:active{background-color:#444}
ul.task-multiple li{border-top:1px solid #333}
ul.task li span.task-name,ul.project-multiple li span.project-name{color:#fff}
ul.project-single ul.task li span.task-name{color:#ccc}
ul.task li span.task-due{color:#999}
ul.task li .task-location{color:#999}
ul.task li.overdue .task-due{color:#f5130d}
ul.task li.today .task-due{color:#fe5d20}
ul.task li.tomorrow .task-due{color:#aa9504}
ul.task li.thisweek .task-due{color:#5e5e5e}
ul.comments > li{background-color:#111}
ul.comments li .comment-author{color:#999}
ul.comments li .comment-content,ul.comments li .comment-content div,ul.comments li .comment-content p,ul.comments li .comment-content li{color:#ccc}
ul.screenshots li{border:4px solid #fff;box-shadow:0 0 10px #999;-moz-box-shadow:0 0 10px #999;-webkit-box-shadow:0 0 10px #999;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')"}
ul.screenshots li:hover,ul.screenshots li:focus{border-color:#ccc}
form .task-location{color:#fff}
form p.buttons input,a.button{color:#fff;background-color:#a20025;border-color:#80001d}
form p.buttons input:hover,form p.buttons input:active,form p.buttons input:focus,a.button:focus,a.button:hover{text-decoration:none;background-color:#80001d}
form p.buttons a.remove{color:#a20025}
form .text,form select{color:#fff;border:1px solid #636363;background-color:#383838}
.stats-value{color:#a20025}
footer a,footer a:visited{color:#999}
@media only screen and (max-width:1201px){ html,body{background-color:#1f1f1f !important} }